body{
  font-family: 'Roboto', sans-serif;
  padding-top: 50px;
}

/* TYPOGRAPHY */
h2, h3, h4{
  color: #031b4e;
}
h2{
  font-size: 36px;
}
p{
  color: #5b6987;
  font-weight: 400 !important;
}

.jumbotron a,
#main_content a {
  color: #0069ff;
}
.jumbotron a:hover,
#main_content a:hover{
  color: #1633ff;
  text-decoration: none;
}

#features i,
#service_data i,
#development_teams i{
  padding: 0 1rem;
}

/* BUTTONS */
.btn_blu{
  font-size: 16px;
  color: white;
  background-color: #2285FD;
  border: 1px solid #2285FD;
}
.btn_blu:hover{
  color: white;
  background-color: rgb(22, 51, 255);
  border: 1px solid rgb(22, 51, 255);
}
.btn_white{
  font-size:16px;
  position: relative;
}

/* BACKGOUND*/
.bg_nav{
  background: white;
}
.bg_jumbotron{
  background-color: #2285FD;
}
.bg_grey{
  background-color: #f3f5f9;
}
.bg_service_data{
  background: rgb(0,30,154);
  background: linear-gradient(0deg, rgba(0,30,154,1) 0%, rgba(0,72,198,1) 100%);
  background-repeat: no-repeat;
}
.bg_account{
  background: rgb(0,30,150);
  background: linear-gradient(0deg, rgba(0,30,150,1) 0%, rgba(0,66,188,1) 100%);
  background-repeat: no-repeat;
}
.bg_footer{
  background-color: #020e28;
}

/* COLOR TEXT */
.text_title_p{
  font-size: 20px;
  max-width: 80%;
  margin: auto;
}
.text_p{
  font-size: 20px;
}

.text_darkblue{
  color: #031b4f;
}
.text_blue{
  color: #2285FD;
}
.text_white{
  color: white;
}
.text_grey{
  color: #5b6987;
}
.text_service{
  color: #B1BCE1;
}

/* UTILITY */
.mt_20{
  margin-top: 20px;
}
.mb_20{
  margin-bottom: 20px;
}
.p_1{
  padding: 1rem;
}
.py_10{
  padding: 10px 0;
}
.py_20{
  padding: 20px 0;
}
.py_50{
  padding: 50px 0;
}
.pr_70{
  padding-right: 70px;
}

/**********
*  HEADER
***********/
/* navbar */
.navbar-brand img{
  height: 20px;
}

.navbar-default .navbar-nav > li > a{
  color: #031b4f;
}
.navbar-default .navbar-nav > li > a:hover{
  color: #2285FD;
}

#site_header nav .btn{
  border: 1px solid #2285FD;
  color: #2285FD;
}
#site_header nav .btn:hover{
  background-color: #2285FD;
  color: white;
}

/* .jumbotron */
.jumbotron{
  margin-bottom: 0;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
  font-weight: 300!important;
}
.jumbotron .card{
  max-height: 100%;
  margin-top: 20px;
  padding: 0 20px;
  border: 1px solid white;
  border-radius: 6px;
  background-color: white;
}
.jumbotron small{
  font-size: 12px;
  font-weight: bold;
}
.jumbotron small a{
  text-decoration: underline;
}

.icon_google{
  height: 20px;
  position: absolute;
  top: 7px;
  left: 11px;
}

/**********
*   MAIN
**********/
.site_section{
  padding: 50px 0;
}

/* #partners */
#partners img{
  max-height: 77px;
}

/* #deploy */
.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0;
}
.list-group-item {
  color: #75809A;
  background-color: #fff;
  border: none;
  border-left: 2px solid #D0D0D0;
  cursor: pointer;
}

#deploy .card{
  max-width: 100%;
}
#deploy .card img{
  height: 30px;
}

/* #designed_developers */
.box{
  width: 100%;
  height: auto;
  margin: 40px 0 20px;
}
.card_image{
  width: 100%;
}
.card_items{
  width: 100%;
  height: 360px;
  position: relative;
  display: inline-block;
}
.angle_divisor{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #031C4E;
  cursor: pointer;
}
.angle_divisor.left_color{
  color: #6F7B97;
}
.angle_divisor:hover{
  color:  #031C4E;
}

.icons > a > i{
  padding: 0!important;
}

/* #service_data */
#service_data .row .row{
  margin-left: 0;
  margin-right: 0;
  padding: 10px 0;
}
#service_data .row .row:not(:last-child){
  border-bottom: 1px solid white;
}
#service_data .col-xs-4 {
  text-align: right;
}
#service_data a{
  color: rgb(0, 215, 210);
}

/* #development_teams */
#development_teams .card_text{
  width: 100%;
  height: 345px;
  background-color: white;
}
#development_teams .card_items{
  width: 100%;
  height: 345px;
  position: relative;
}

/* #create_account */
.btn_account{
  font-size: 16px;
  color: #0069ff;
  margin-top: 20px;
}
.btn_account:hover{
  color: #0069ff;
  background: rgba(225,225,225,0.9);
}

/************
* FOOTER
*************/
#site_footer .logo {
  color: #0080ff;
  margin-bottom: 10px;
}
#site_footer li a {
  color: rgba(255,255,255,0.7);
  line-height: 2;
}
#site_footer li a:hover {
  color: rgba(255,255,255);
  text-decoration: none;
}
#site_footer p{
  color: rgba(255,255,255,0.7);
}
#site_footer a > i{
  font-size: 18px;
}

.bot{
  position: fixed;
  bottom: 50px;
  left: 80%;
}
.chatbot img{
  height: 50px;
  padding: 5px;
  border: 1px solid #006AFF;
  border-radius: 6px;
  background-color: #006AFF;
}

.badge{
  background-color: red;
  border: 1px solid white;
  position: absolute;
  bottom: 40px;
  right: -10px;
}

.tooltip_container {
  position: relative;
  left: 90%;
  display: inline-block;
}
.tooltip_container .tooltip_text {
  visibility: hidden;
  width: 290px;
  background-color: white;
  color: black;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 110%;
}
.tooltip_container .tooltip_text::after {
  content: "";
  position: absolute;
  top: 70%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent white;
}
.tooltip_container:hover .tooltip_text {
  visibility: visible;
}

/************
* MEDIA QUERY
************/
@media screen and (max-width:768px){
  .text_title_p{
    max-width: 90%;
  }

  /* UTILITY */
  .pb_2{
    margin-bottom: 2rem;
  }
  .pt_2{
    margin-top: 2rem;
  }
  /* HEADER */
  /* .jumbotron */
  .jumbotron h1{
    font-size: 40px;
  }
  .jumbotron p {
    font-size: 16px;
  }

  /* MAIN */
  /* #designed_developers & #development_teams */
  .card_items{
    display: none;
  }

  /* BOT */
  .bot{
    left: 70%;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  /* HEADER */
  /* navbar */
  .navbar-toggle {
    display: block;
    float: right;
    position: relative;
    left: 280%;
  }
  .navbar-left, .navbar-right {
    display: none;
  }

  /* MAIN */
  /* #partners */
  #partners img{
    max-height: 60px;
  }

  /* #designed_developers*/
  .card_items{
    height: 306px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  /* HEADER */
  /* .jumbotron */
  .jumbotron h1{
    font-size: 50px;
  }
  .jumbotron p {
    font-size: 18px;
  }

  /* MAIN */
  /* #deploy */
  #deploy .card{
    min-height: 160px;
  }
}

@media screen and (min-width:992px) and (max-width: 1199px) {
  /* MAIN */
  /* #designed_developers*/
  .card_items{
    height: 400px;
  }
}
