body{
  font-family: 'Roboto', sans-serif;
  padding-top: 50px;
}
/* .debug [class*="col-"]{
  height: 200px;
  background: #FFC0CB;
  border: 1px solid red;
} */

#site_footer{
  height: 500px;
}

p{
  font-weight: 400;
}

/* background/ color text*/
.bg_nav{
  background: white;
}
.bg_jumbotron{
  background-color: #2285FD;
}
.bg_grey{
  background-color: #f3f5f9;
}
.bg_blue{
  background-color: #001E99;
}
.bg_footer{
  background-color: #031C4E;
}
.text_blue{
  color: #041D4F;
}
.text_lightblue{
  color: #2285FD;
}
.text_white{
  color: white;
}
.text_grey{
  color: #7D88A1;
}
.text_title_h2{
  color: #031C4E;
}
.text_title_p{
  color: #5C6A88;
  font-size: 16px;
  max-width: 80%;
  margin: auto;
}
.text_service{
  color: #B1BCE1;
}

/* utility */
.mt_20{
  margin-top: 20px;
}
.p_1{
  padding: 1rem;
}
.py_10{
  padding: 10px 0;
}
.py_20{
  padding: 20px 0;
}
.py_50{
  padding: 50px 0;
}
.pr_70p{
  padding-right: 70px;
}

/**********
*  HEADER
***********/
/* navbar */
.navbar-brand > img{
  height: 20px;
}

.navbar-default .navbar-nav > li > a{
  color: #041D4F;
}
.navbar-default .navbar-nav > li > a:hover{
  color: #2285FD;
}

#site_header nav .btn{
  border: 1px solid #2285FD;
  color: #2285FD;
}
#site_header nav .btn:hover{
  background-color: #2285FD;
  color: white;
}
/* jumbotron */
.jumbotron{
  margin-bottom: 0;
}
.jumbotron p {
  margin-bottom: 15px;
  font-size: 21px;
}
.jumbotron .card{
  max-height: 100%;
  margin-top: 20px;
  padding: 0 20px;
  border: 1px solid white;
  border-radius: 6px;
  background-color: white;
}

small{
  font-size: 12px;
  font-weight: bold;
}
small a{
  text-decoration: underline;
}

.icon_google{
  margin-right: 1rem;
}

/**********
*   MAIN
**********/
.site_section{
  /* height: 600px; */
  border: 1px solid black;
}

/* #partners */
#partners img{
  max-height: 77px;
}

#partners a{
  color: #0E72FF;
}

/* deploy */
.list-group-item:first-child,
.list-group-item:last-child {
  border-radius: 0;
}
.list-group-item {
  color: #75809A;
  background-color: #fff;
  border: none;
  border-left: 2px solid #D0D0D0;
  cursor: pointer;
}

#deploy .card{
  max-width: 100%;
}
#deploy .card img{
  height: 30px;
}
#deploy .card h4{
  color: #31446C;
}
#deploy .card p{
  color: #7A869E;
}

/* designed_developers */
.card_image{
  width: 100%;
  margin: 40px 0 20px;
}
.card_image img{
  width: 100%;
  height: auto;
}
.card_items{
  height: 487px;
  margin: 40px 0 20px;
  position: relative;
}
.angle_divisor{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #031C4E;
  cursor: pointer;
}
.angle_divisor.left_color{
  color: #6F7B97;
}
.color_text_p{
  color: #122958;
}
.icons > a > i{
  color: #217EFE;
}
.icons:first-child a{
  color: #006AFF;
}

/* features */
#features a {
  color: #0069ff;
}
#features a:hover{
  color: #1633ff;
  text-decoration: none;
}
/************
* MEDIA QUER
************/
@media screen and (max-width:767.5px){
  .card_items{
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  /* navigation */
  .navbar-toggle {
    display: block;
    float: right;
  }
  .navbar-left, .navbar-right {
    display: none;
  }
  /* jumbotron */
  .jumbotron h1{
    font-size: 44px;
  }
  .jumbotron p {
    font-size: 18px;
  }
  /* partners */
  #partners img{
    max-height: 60px;
  }

  /* designed */
  .card_items{
    height: 300px;
  }
}

@media screen and (min-width:992px) and (max-width: 1199px) {
  .card_items{
    height: 400px;
  }
}


@media screen and (min-width: 768px) and (max-width: 1199px) {


  #deploy .card{
    min-height: 160px;
  }
}
